@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
    font-family: Outfit, serif;
}
.background{
    background-color: white;
    width: 690px;
    height: 1500px;
    translate: 45%;
    margin-top: 50px;
    border-radius: 10px;
}
img{
    border-radius: 5px;
    width: 615px;
    margin-top: 25px;
    translate: 6.5%;
    margin-bottom: 15px;
}
h1{
   translate: 6%;
   margin-bottom: 15px; 
   font-weight: 400;
   font-family: Young serif;
   font-size: 40px;
}
p{
    font-size: 16px;
    translate: 6%;
}
.preparationdiv{
    background-color: rgb(255, 245, 250);
    width: 615px;
    height: 180px;
    translate: 6.5%;
    margin-top: 25px;
    border-radius: 10px;
    
}
.preparetime{
    padding: 35px;
    position: relative;
    top: -20px;
}
h4{
    translate: -1.5%;
    color: rgb(123, 40, 79);
    font-size: 20px;
}
span{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
h3{
    color: rgb(133, 70, 50);
    font-family: Young, serif;
    translate: 5.5%;
    margin-bottom: 12px;
    margin-top: 25px;
}
.list1{
    margin-bottom: 30px;
    margin-left: 50px;
}
.instructdiv{
    translate: 7%;
    padding: 20px;
    padding-top: 7px;
}
.lastpara{
    margin-left: -4px;
    margin-bottom: 15px;
}
.lasttab{
    margin-inline-start: 70px;
}